{
    "presets": [
        "es2015"
    ],
    "plugins": [
        "transform-class-properties",
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}